<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  <mapper namespace="com.example.boardapp.mapper.ArticleFileMapper">


    <insert id="insertArticleFile" parameterType="java.util.List">

        INSERT INTO article_file1 ( filename, filepath, size, article_id )
        VALUES

        <!-- java.util.List 타입인 경우  기본 collection 값은 list -->  
        <!-- java.util.List 타입인 경우  다른  collection 값은 fileList  -->
        <!-- void insertArticleFile(@Param("fileList") List<ArticleFile> files) -->
      
        <foreach collection="list" item="file" separator=",">
            ( #{file.filename}, #{file.filepath}, #{file.size}, #{file.articleId} ) 
        </foreach>
        
    </insert>




  </mapper>
